<!DOCTYPE html>
<html>
  <head>
    <title>Educator</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <%= link_to 'Education Site', root_path, class: 'navbar-brand' %>
        </div>

        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
              <%= t('menu.languages.lang') %>
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu">
              <li>
                <%= link_to t('menu.languages.en'), change_locale_path(:en) %>
              </li>
              <li>
                <%= link_to t('menu.languages.ru'), change_locale_path(:ru) %>
              </li>
              <li>
                <%= link_to t('menu.languages.hi'), change_locale_path(:hi) %>
              </li>
            </ul>
          </li>
        </ul>

        <ul class="nav navbar-nav navbar-left">
          <li><%= link_to t('menu.new_article'), new_article_path %></li>
        </ul>
      </div>
    </div>

    <div class="container">
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>">
          <%= value %>
        </div>
      <% end %>

      <div class="page-header">
        <h1><%= yield :page_header %></h1>
      </div>

      <%= yield %>
    </div>
  </body>

</html>
